{% extends 'AppBundle::base.html.twig' %}

 {% block menu %} {% include 'AdminBundle:Default:menu.html.twig' %} {% endblock %}
 
{% block title %}{{ "title.list.entity"|trans({'%entity%' : 'Portail'}) }} {% endblock %}  

{% block body %}
    <h1>Portails list</h1>

    <table>
        <thead>
            <tr>
                <th>{{ "entity.label.id"|trans }}</th>
                <th>{{ "entity.label.name"|trans }}</th>
                <th colspan="2">{{ "th.label.action"|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for x , portail in portails %}
            <tr>
                <td><a href="{{ path('portail_edit', { 'id': portail.id }) }}">{{ portail.id }}</a></td>
                <td><a href="{{ path('portail_edit', { 'id': portail.id }) }}">{{ portail.name }}</a></td>
                <td><a href="{{ path('portail_edit', { 'id': portail.id }) }}">{{ "list.link.edit"|trans({'%content%': portail.name }) }}</a></td>
                <td>
                {% if delete_form[x] is defined and delete_form[x] is not null %}    
                        {{ form_start(delete_form[x]) }}
                            <input type="submit" value="Delete">
                        {{ form_end(delete_form[x]) }}
                {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
 {% endblock %} 
 
{% block aside %}          

    <ul>
        <li>
            <a href="{{ path('portail_new') }}">{{ "list.link.new"|trans({'%entity%': 'Portail'}) }}</a>
        </li>
    </ul>
{% endblock %}
