{% extends 'AppBundle::base.html.twig' %}

 {% block menu %} {% include 'GameBundle::menu.html.twig' %} {% endblock %}

    {% block title %}Portail{% endblock %}

{% block body %}
    <table>
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ portail.name }}</td>
            </tr>
            <tr>
                <th>debut</th>
                <td>{{ portail.startedAt|date('d/m/Y') }}</td>
            </tr>
            <tr>
                <th>fin</th>
                <td>{{ portail.endedAt|date('d/m/Y') }}</td>
            </tr>
            <tr>
                <th>multi</th>
                <td>{{ invocation.multi }}</td>
            </tr>
            <tr>
                <th>multi</th>
                <td>{{ invocation.droped }}</td>
                <td>{{ personnages|length }}</td>
            </tr>        

			<tr>
                <th colspan="3">
				
						<div class="trombinoscope">

        {% for personnage in invocation.personnages %}
    
                <div class="portrait">
					<a href="{{ path('game_personnage_show', { 'slug' : personnage.slug } ) }}">{{ personnage.name }}</a><br/>
				</div>
            
        {% endfor %}   
						</div>
				</th>
			</tr>		
         </tbody>
    </table>
       
  
{% endblock %}
