
{% if is_granted('ROLE_ADMIN') %}
                
                <li><a href="{{ path('portail_index') }}">{{ 'layout.admin.portail'|trans }}</a></li>
                <li><a href="{{ path('personnage_index') }}">{{ 'layout.admin.personnage'|trans }}</a></li>
                <li><a href="{{ path('rarete_index') }}">{{ 'layout.admin.rarete'|trans }}</a></li>
                <li><a href="{{ path('zone_index') }}">{{ 'layout.admin.zone'|trans }}</a></li>
                <!--<li><a href="{{ path('epreuve_index') }}">{{ 'layout.admin.epreuve'|trans }}</a></li>-->
                <li><a href="{{ path('item_index') }}">{{ 'layout.admin.item'|trans }}</a></li>
                <li><a href="{{ path('player_index') }}">{{ 'layout.admin.player'|trans }}</a></li>
{% endif %}
                