{% extends 'AppBundle::base.html.twig' %}

{% block title %}Equipe{% endblock %}
{% block menu %}{% include 'GameBundle::menu.html.twig' %}{% endblock %}

{% block aside %}

    <a href="{{ path( 'player_box_function', { 'function' : 'entrainement' } ) }}" >entrainement</a>
    <a href="{{ path( 'player_equipes' ) }}" >equipes</a> - 
    
{% endblock %}

{% block body %}
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
{% for i in 1..max_team %}
            {% if members[i] is defined %}
                <tr>
                    <td><a href="{{ path( 'player_team_select', {  'ranked' : ranked , 'poste' : i } ) }}">add</a></td>
                    <td>{#{ members[i].ranked }#}</td>
                    <td>{{ members[i].personnage.name }}</td>
                </tr>
            {% else %}
                <tr>
                    <td><a href="{{ path( 'player_team_select', { 'ranked' : ranked , 'poste' : i  } ) }}">add</a></td>
                </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>

{% endblock %}