{% extends 'AppBundle::base.html.twig' %}

{% block menu %}{% include 'GameBundle::menu.html.twig' %}{% endblock %}

{% block title %}Box{% endblock %}

{% block aside %}
    <a href="{{ path( 'player_box_function', { 'function' : 'entrainement' } ) }}" >entrainement</a> - 
    <a href="{{ path( 'player_equipes' ) }}" >equipes</a> - 
	<br/>
{% endblock %}

{% block body %}

	{% if function is defined and function == "check" %}
		<form class="personnage selection">
	{% endif %}
	
			<div class="trombinoscope">
        {% for box in boxes %}
                <div class="portrait">
                    {% if box.personnage.icon is not null %}<img src="/uploads/icon/{{ box.personnage.icon.name }}" />{% endif %}		
                    <a href="{{ path('game_personnage_show', { 'slug' : box.personnage.slug } ) }}">{{ box.personnage.name }}</a><br/>
                    {% if function == "entrainement" %}<a href="{{ path( 'player_box_train', {  'id' : box.id } ) }}">entrainement</a>{% endif %}
                    {% if function == "select" %}<a href="{{ path('player_team_add',{ 'id' : box.id , 'ranked' : ranked , 'poste': poste }) }}">select</a>{% endif %}
                    {% if function == "check" %}<input type="checkbox" name="boxes[{{ box.id }}]" value="{{ box.id }}" />{% endif %}
                </div>
        {% endfor %}
			</div>

	{% if function is defined and function == "check" %}
			<div class="row">
				<input type="submit"/>
			</div>
		</form>
	{% endif %}
	
{% endblock %}
